body  {
    padding:0;
    margin: 0;
    background-color: beige;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #6e6e6eec;
    line-height: 1.4;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding:0;
    text-transform: uppercase;
}

h1 {
    font-size: 45px;
}
h2 {
    padding-top: 30px;
}

*:before,
*:after {
    box-sizing: border-box;
}
ul, li {
    display: block;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;   

}



/*Photo + Last Name*/

.aboutMe {
    width: 100%;
    padding: 30px;
    border: 1px solid;
    display: flex;
    align-items: center;
    background-color: #fff;
  
}
.myName {
    padding-left: 30px;
    letter-spacing: 0.1em;
}

/* Contact Information*/
.contact {
    width: 100%;
    padding: 30px;
    border: 1px solid;
    letter-spacing: 0.1em;
    background-color: #fff;
}

/* Career Objectives*/
    
.career {
    width: 100%;
    padding: 30px;
    border: 1px solid;
    letter-spacing: 0.1em;
    background-color: #fff;

}

/* Knowledge and skills*/
.skills {
    width: 100%;
    padding: 30px;
    border: 1px solid;
    letter-spacing: 0.1em;
    background-color: #fff;
    display: flex;

}
.skillsTab {
    font-style: italic;
       

}
ul{
    list-style: none;
    margin: 0;
    padding:0;
    
}
ul > li{
    padding-left: 30px;
    position: relative;
    margin: 1px;
}
ul > li:before{
    content: '✔';
    position: absolute; top: 0; left: 0;
    color: gray;
}

/*Education and Qualification*/

.educational{
    width: 100%;
    padding: 30px;
    border: 1px solid;
    letter-spacing: 0.1em;
    background-color: #fff;
}

/*Languages*/

.languages {
    width: 100%;
    padding: 30px;
    border: 1px solid;
    letter-spacing: 0.1em;
    background-color: #fff;

}

